.container {

}

.newTask {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 23px 0 0 0;
}

.container:hover .text{
    color: #000;
}


.container:hover .icon img {
    opacity: 1;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
    color: #B4B4B4;
}


.icon {
    padding: 0 0 0 3px;
}

.icon img {
    opacity: 0.3;
    margin: 0 19px 0 0;
    width: 14px;
    height: 14px;
}


/* addForm styles*/

.addForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 30px 0  0 0;
}

.form {
    flex: 1 0 100%;
    margin: 0 0 15px 0;
}

.addButton {
    flex: 0 1 70%;
    margin: 0 10px 0 0;
}

.cancelButton {
    flex: 1;
}
