.button__container {

}

.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #4DD599;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 0px solid transparent;
    transition: 0.5s;
}

.button:hover {
    background: #339d64;
}

.button:active {
    background: #4DD599;
}

.grey {
    background-color: #F4F6F8;
}


.button:hover.grey{
    background: #c7c7c7;
}

.button:active.grey {
    background-color: #F4F6F8
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.grey .text {
    color: #9C9C9C;
}

.grey:hover .text {
    color: #f5f5f5;
}

.grey:active .text {
    color: #9C9C9C;
}