.input {

}

.field {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0 8px 11px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.field:focus {
    border-color: #a8a8a8;
}